body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    height: 100%;
}
html {
    height: 100%;
}
.header {
    color: #2963AD;
    font-size: 30px;
    padding: 10px;
}
.subheading {
    color: #000;
    font-size: 18px;
}
.bigicon {
    font-size: 35px;
    color: #2963AD;
}
.testimonial {
    font-style: italic;
}
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.footer {
    height: 30px;
}
.push {
    height: 30px;
}
.heart {
    color: #c10b12;
}
@media (max-width: 767px) {
    .footer {
        margin: 0 -20px 0 -20px;
        padding: 0 20px 0 20px;
    }
}
