body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.header {
    color: #2963AD;
    font-size: 30px;
    padding: 10px;
}
.subheading {
    color: #000;
    font-size: 18px;
}
.bigicon {
    font-size: 35px;
    color: #2963AD;
}
.testimonial {
    font-style: italic;
}
.footer {
    position: relative;
    bottom: 0;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heart {
    color: #c10b12;
}